// bases y condiciones
.byc {
  padding-top: 4rem;
  padding-bottom: 5rem;
  header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $COLOR_GREY;
    padding: .8em 0;
    margin-bottom: 1.3rem;
    cursor: pointer;

    h4 {
      font-weight: $BOLD;
      color: $COLOR_DARKGREY;
      @include fontSize(18px);
      line-height: 1.2;

      @include upTo(sm) {
        @include fontSize(22px);
      }
    }

    
    i {
      position: relative;
      font-size: .8em;
      right: 1em;
      &:before {
        content: $icon-arrow-down;
        color: $COLOR_CELESTE;
      }
    }
  }
  .byc__content {
    &.openContent {
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: $TRANSITION;
    }

    p {
      color: $COLOR_DARKGREY;
      @include fontSize(16px);
      line-height: 1.3;
  
      @include upTo(sm) {
        @include fontSize(18px);
      }
    }
  }
}