.card {
  article {
    @include upTo(sm) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  // .container {

  // }
  h4 {
    @include fontSize(28px);
    text-align: center;
    color: $COLOR_BLUE;
    margin-bottom: 1.25rem;
  }

  #slider-thumbs {
    .slick-list {
      padding-bottom: 0 !important;

      li {
        padding: $PADDING_MOBILE;
        @include upTo(sm) {
          padding: 0;
        }
      }
    }
  }
}