.form {
  padding-top: 1rem;
  padding-bottom: 6rem;

  .space {
    &--top {
      margin-top: 2em;
    }
    &--bottom {
      margin-bottom: 2em;
    }
  }
  
  header {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 2rem;

    span.separator {
      position: relative;
      padding-left: 1rem;
      margin-left: 1rem;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 140%;
        background-color: $COLOR_GREY;

        @include upTo(sm) {
          height: 180%;
        }
      }
    }
    
    i {
      @include fontSize(44.5px);
      @include upTo(sm) {
        @include fontSize(57px);
      }

      &.icon-amir {
        color: #C4D600;
        font-size: 2em;
      }
    }
  }

  &__wrapper {
    max-width: calc(475px + 125px);

    @include upTo(sm) {
      padding-left: 125px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--courses {
      margin-bottom: 4.5em;
    }

    h3 {
      font-weight: $BLACK;
      color: $COLOR_DARKGREY;
      @include fontSize(30px);
      margin-bottom: 2.3rem;
      
      @include upTo(sm) {
        @include fontSize(36px);
      }
    }
    span {
      font-weight: $REGULAR;
      color: $COLOR_DARKGREY;
      @include fontSize(18px);

      @include upTo(sm) {
        @include fontSize(22px);
      }
    }

    &__detail {
      margin-top: 3rem;
      margin-bottom: 3rem;
      border: 1px solid $COLOR_GREY;
      border-radius: 10px;
      padding: 2.16735rem;
      font-weight: $BOLD;
      width: 100%;
      color: $COLOR_GREY;
      @include fontSize(16px);

      &.coursesSelected {
        margin-top: 0;
        border-radius: 8px;
        background-color: $COLOR_LIGHTGREY2;
        border: none;
      }

      ul {
        li {
          font-weight: $REGULAR;
          color: $COLOR_DARKGREY;
          margin-bottom: 1em;

          &:last-child {
            margin-bottom: 0;
          }

          &.title {
            color: #000000;
            @include fontSize(18px);
            @include upTo(sm) {
              @include fontSize(22px);
            }
          }
        }

        &.listCourses {
          li {
            position: relative;
            @include fontSize(16px);
            margin-bottom: .55em;
            
            @include upTo(sm) {
              @include fontSize(18px);
            }
            
            &:after {
              cursor: pointer;
              @extend .icon;
              content: $icon-close;
              font-size: .8em;
              position: absolute;
              top: .24em;
              right: 0;
            }
          }
        }
      }

      @include upTo(sm) {
        @include fontSize(22px);
        margin-top: 4rem;
        margin-bottom: 4rem;
        width: auto;
      }
    }
  }

  form {
    max-width: 475px;
    
    .colNoWrap {
      .custom-select-wrapper {
        margin-right: 2rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    label[for="mensaje"] {
      margin-top: #{$INPUT_HEIGHT_DESKTOP / 2.3};

      @include break(xs) {
        margin-top: #{$INPUT_HEIGHT_MOBILE / 2.3};
      }
    }
  }


  button {
    @include fontSize(18px);
    font-weight: $MEDIUM;

    @include upTo(sm) {
      @include fontSize(20px);
      height: 72px;
    }
  }
}
