// HERO SECTION
.hero {
  position: relative;
  background: linear-gradient(102.23deg, #203B83 -3.34%, #3F6CBB 27.7%, #5398FF 77.19%);

  figure {
    position: absolute;
    @include upTo(sm) {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
  
  hgroup {
    color: #fff;
    
    h1 {
      font-weight: $BOLD;
      @include fontSize(36px);
      line-height: 1.2;
      display: flex;
      flex-direction: column;

      @include upTo(md) {
        @include fontSize(48px);
      }

      small {
        margin: 1.80em 0 2.5em;
        font-weight: $REGULAR;
        font-size: 0.5em;
        line-height: 1.3;
        @include upTo(md) {
          margin: 1.80em 0;
          @include fontSize(24px);
        }  
      }
    }
  }
  
  .wrapper {
    .btn {
      margin-right: 24px;
      &:last-child { margin: 0; }
    }

    @include downTo(md) {
      flex-wrap: wrap;
      .btn {
        margin-right: 0;
        margin-bottom: 1.8rem;
      }
     }
  }

  // Logos
  &__logos {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 3.2rem;

    @include upTo(sm) {
      margin-top: 5.6rem;
    }

    span {
      @include fontSize(18px);
      font-weight: $MEDIUM;
      color: #fff;

      @include upTo(sm) {
        @include fontSize(22px);
      }
    }

    img,
    i {
      position: relative;
      align-self: flex-start;
      max-width: 100%;
      margin: 1.65rem 0 2rem;
      color: white;
      font-size: 2.4rem;

      @include upTo(sm) {
        margin: 1.5rem 0 0;
        font-size: 3.4rem;
        max-width: 425px;
      }
    }
  }
}

// BTN FIXED IN MOBILE
#elementToAddFixedPosition {
  transition: all $ANIMATION_TIMING $ANIMATION_EASING;
  bottom: 100%;
  &.active {
    bottom: 0;
    z-index: 999;
  }
}
