.detail {
  .dropdown {
    // &__wrapper {
    //   @include upTo(sm) {
    //     margin-top: 45px;
    //   }
    // }

    &__li {
      border-bottom: 1px solid $COLOR_GREY;
      padding: 1.5rem 0;

      @include upTo(sm) {
        padding: 1.5rem 1.4rem 1.5rem 2rem;
      }

      hgroup {
        color: $COLOR_DARKGREY3;
        font-weight: $MEDIUM;
        @include fontSize(16px);
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        @include upTo(sm) {
          @include fontSize(20px);
        }

        // arrow
        i {
          position: relative;
          @include fontSize(11px);
          color: $COLOR_CELESTE;
          margin-left: .45rem;
          top: -.15rem;
          @extend .icon;
          &:before {
            content: "\e908";
          }
        }
      }

    }
  }
}
