.questions {
  &__wrapper {
    // for radio
    .form-radio {
      margin-bottom: .8rem;
      &:last-child {
        margin-bottom: 0;
      }
      &-input {
        @extend %hiddenInput; 
      }

      &-label {
        cursor: pointer;
        margin-bottom: 0;
        position: relative;
        width: 100%;
        border: 1px solid $COLOR_GREY;
        padding: 15px 25px;
        color: $COLOR_GREY;
        @include fontSize(16px);
        font-weight: $REGULAR;
        text-transform: uppercase;
        border-radius: 8px;
        transition: $TRANSITION;

        &:before {
          content: '';
          position: absolute;
          left: inherit;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: $CHECKBOX_SIZE;
          height: $CHECKBOX_SIZE;
          background-color: white;
          border: 1px solid $COLOR_GREY;
          border-radius: 100%;
          margin-right: 23px;
          transition: $TRANSITION;

          @include upTo(sm) {
            margin-right: 31px;
          }
        }

        @include upTo(sm) {
          @include fontSize(18px);
        }
      }
    }
  }
}