.tabs {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @extend .col-xs-12;
  display: flex;
  flex-direction: column;

  @include upTo(sm) {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  // Selector
  &__selector {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @extend .col-xs-12;
    border-bottom: 1px solid $COLOR_CELESTE;
    
    &__box {
      text-align: center;
      position: relative;
      cursor: pointer;
      font-weight: $BOLD;
      color: rgba($COLOR_BLUE, .6);
      @include fontSize(18px);
      padding-bottom: 25px;
      transition: all 150ms $ANIMATION_EASING;

      @include downTo(md) {
       max-width: 25%;
      }

      @include upTo(sm) {
        @include fontSize(28px);
        padding-bottom: 10px;
      }

      &:first-child { text-align: left; }
      &:last-child { text-align: right; }

      &:after,
      &:before {
        transition: all 150ms $ANIMATION_EASING;
        content: '';
        position: absolute;
        background-color: $COLOR_CELESTE;
        width: 0;
        height: 7px;
        bottom: 0;
      }
      &:before {
        right: 50%;
      }
      &:after {
        left: 50%;
      }
    }
  }

  // Content
  &__wrapper {
    @extend .col-xs-12;
    
    &__content {
      display: none;
      flex-direction: column;

      margin-top: 15px;

      @include upTo(sm) {
        margin-top: 40px;
      }
    }
  }
}